{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block sectionBody %}
    

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="bradcam_text">
                            <h3>A propos de nous</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ bradcam_area  -->

    <!-- about_info_area start  -->
    <div class="about_info_area plus_padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="about_text">
                        <h3>Qui sommes nous ?</h3>
                        <p>AFIP SARL est une institution autonome spécialisée dans les missions traditionnelles d’audit, de formation, de conception et mise en place de système d’informations et de conseil en gestion.</p>
                            <a href="#" class="boxed-btn3">X</a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about_thumb">
                        <img src="img/service/about.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /about_info_area end  -->

    <!-- counter_area  -->
    <div class="counter_area counter_bg_1 overlay_03">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single_counter text-center">
                        <div class="counter_icon">
                            <img src="img/svg_icon/group.svg" alt="">
                        </div>
                        <h3> <span class="counter">10</span> <span> +</span> </h3>
                        <p>Employés</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single_counter text-center">
                        <div class="counter_icon">
                            <img src="img/svg_icon/cart.svg" alt="">
                        </div>
                        <h3> <span class="counter">98</span> <span>%</span> </h3>
                        <p>Succès</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single_counter text-center">
                        <div class="counter_icon">
                            <img src="img/svg_icon/heart.svg" alt="">
                        </div>
                        <h3> <span class="counter">52</span></h3>
                        <p>Clients satisfaits</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single_counter text-center">
                        <div class="counter_icon">
                            <img src="img/svg_icon/respect.svg" alt="">
                        </div>
                        <h3> <span class="counter">52</span> </h3>
                        <p>Marchés conclus</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /counter_area  -->
    
    <!-- service_area_start -->
    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-50">
                        <h3>Que faisons-nous ?</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            
                            <i class="fas fa-balance-scale-left"></i>
                        </div>
                        <h3>AUDIT</h3>
                        <p></p>
                        <a href="service" class="learn_more">Plus</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src="img/svg_icon/2.svg" alt="">
                        </div>
                        <h3>GESTION</h3>
                        <p></p>
                        <a href="service" class="learn_more">Plus</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src="img/svg_icon/3.svg" alt="">
                        </div>
                        <h3>ACTIVITÉ DE FORMATION</h3>
                        <p></p>
                        <a href="service" class="learn_more">Plus</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src="img/svg_icon/4.svg" alt="">
                        </div>
                        <h3>ADMINISTRATION</h3>
                        <p></p>
                        <a href="service" class="learn_more">Plus</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src="img/svg_icon/5.svg" alt="">
                        </div>
                        <h3>CRÉATION </h3>
                        <p></p>
                        <a href="service" class="learn_more">Plus</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src="img/svg_icon/6.svg" alt="">
                        </div>
                        <h3>INFORMATIQUE</h3>
                        <p></p>
                        <a href="service" class="learn_more">Plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- service_area_end -->


    <!-- Information_area  -->
    <div class="Information_area overlay">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-8">
                    <div class="info_text text-center">
                        <h3>Pour toutes informations contactez nous</h3>
                        <p>Les pros de la gestion.</p>
                        <a class="boxed-btn3" href="#">+225 08 10 77 74</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Information_area  end -->
    {% endblock sectionBody %}