{% extends "base.html" %}
{% load static %}

{% block title %}Service{% endblock %}

{% block sectionBody %}


    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="bradcam_text">
                            <h3>service</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ bradcam_area  -->

    <!-- service_area_start -->
    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-50">
                        <h3>Que faisons-nous ?</h3>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- service_area_end -->


    <div class="case_study_area case_page" style="padding: 0 !important;">
        <div class="container">
            <div class="row">
                </div>
                <div class="row grid">
                    <div class="col-xl-4 grid-item cat1 cat3">
                        <div class="single_case">
                            <div class="case_thumb">
                                <img src="{% static 'img/case/1.png' %}" alt="">
                            </div>
                            <div class="case_heading">
                                <h3><a href="#">AUDIT</a></h3>
                                <ul>
                                    <li><strong>*</strong>Audit comptable et financier et audit fiscal</li>
                                    <li><strong>*</strong>Audit technique (audit de performance, évaluation de projets, audit organisationnel et audit social etc…)</li>
                                    <li><strong>*</strong>Diagnostic financier et diagnostic d’entreprise</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 grid-item cat2 cat1">
                        <div class="single_case">
                            <div class="case_thumb">
                                <img src="{% static 'img/case/2.png' %}" alt="">
                            </div>
                            <div class="case_heading">
                                <span></span>
                                <h3><a href="#">GESTION</a></h3>
                                <ul>
                                    <li><strong>*</strong>Elaboration et mise en place de procédures administratives et financières</li>
                                    <li><strong>*</strong>Mise en place de la comptabilité</li>
                                    <li><strong>*</strong>Mise en place de systèmes de contrôle de gestion et mise en place de tableaux de bord</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 grid-item cat3 cat2 cat4">
                        <div class="single_case">
                            <div class="case_thumb">
                                <img src="{% static 'img/case/6.png' %}" alt="">
                            </div>
                            <div class="case_heading">
                                <span></span>
                                <h3><a href="#">ACTIVITÉ DE FORMATION</a></h3>
                                <ul>
                                    <li><strong>*</strong>Formation en comptabilité générale (système comptable OHADA) </li>
                                    <li><strong>*</strong>Formation sur les logiciels de gestion (comptable, gestion cormmercial, paie et GRH) </li>
                                    <li><strong>*</strong>Formation en gestion des micros entreprises (création d'entreprise et gestion cormmerciale) </li>
                                    <li><strong>*</strong>Formation des organes des coopératives agricoles d'épargne et de crédit (roles et responsabilités) </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 grid-item cat1 cat2">
                        <div class="single_case">
                            <div class="case_thumb">
                                <img src="{% static 'img/case/4.png' %}" alt="">
                            </div>
                            <div class="case_heading">
                                <span></span>
                                <h3><a href="#">CRÉATION</a></h3>
                                <ul>
                                    <li><strong>*</strong>Création de société (Statut et réglément intérieur) </li>
                                    <li><strong>*</strong>Plans d'affaires et projection finacières (business plan) </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 grid-item cat4 cat3">
                        <div class="single_case">
                            <div class="case_thumb">
                                <img src="{% static 'img/case/5.png' %}" alt="">
                            </div>
                            <div class="case_heading">
                                <span></span>
                                <h3><a href="#">ADMINISTRATION</a></h3>
                                <ul>
                                    <li><strong>*</strong>Manuel de procédures administartives, financières et comptables</li>
                                    <li><strong>*</strong>Production des états finaciers semestiels et annuels</li>
                                    <li><strong>*</strong>Diagnostic des entreprises</li>
                                    <li><strong>*</strong>Contrôle et suisvi des dépenses, rapport finaciers</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 grid-item cat1 cat3 cat2 cat4">
                        <div class="single_case">
                            <div class="case_thumb">
                                <img src="{% static 'img/case/3.png' %}" alt="">
                            </div>
                            <div class="case_heading">
                                <span></span>
                                <h3><a href="#">ACTIVITÉ INFORMATIQUE</a></h3>
                                <ul>
                                    <li><strong>*</strong>Conception et fourniture de logiciel de gestion</li>
                                    <li><strong>*</strong>Materiel et accessoires informatique</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-xl-12">
                    
                </div>
            </div>
        </div>
    </div>





    <!-- Information_area  -->
    <div class="Information_area overlay">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-8">
                    <div class="info_text text-center">
                        <h3>Pour toutes informations contactez nous</h3>
                        <p>Les pros de la gestion.</p>
                        <a class="boxed-btn3" href="#">+225 08 10 77 74</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Information_area  end -->

    {% endblock sectionBody %}